<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -10rem !important;">
  <div class="container">
    <div class="row g-0">

    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<section style="background-color: #999999;">
  <div class="container">
    <div class="row h-100 g-0">
      <div class="col-md-6">
        <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
          <h4 class="text-800" style="COLOR: white">Get To Know Us</h4>
          <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Be exclusive</h1>
          <p class="mb-5 fs-1" style="
          COLOR: white">LENODAN, A SOUTH AFRICAN STREETWEAR AND FASHION BRAND FOUNDED IN 2018 BY FERNADO, IS A
            DESIGN PURSUIT, BLENDING INFLUENCES DRAWN FROM THE WORLD OF HIGH-END FASHION WITH THE BOUNDLESS CREATIVITY
            OF STREET WEAR INGENUITY. THIS COALESCE IS DEFINED BY A FOCUS ON TAILORING ,COUTURE, TECHNICAL DETAILING AND
            HIGH-PERFORMANCE DESIGNS AIMED TO CEMENT NEW MODE OF URBAN GARMENTS GEARED TOWARDS MOVEMENT AND
            FUNCTIONALITY.</p>
          <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark"
              href="https://www.designindaba.com/articles/interviews/all-feels" role="button">Read More</a></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/img/18.jpg" alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"></div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<section style="background-color: #cccccc">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Checkout New Arrivals</h5>
      </div>
      <div class="row">
        <div class="col-lg-12" style="background-color: #cccccc">
          <ul class="filter__controls">
            <li class="active" data-filter="*">New Arrival</li>
            <li><a href="./about.html">Green Project</a></li>
            <li><a href="./shop.html">Discover All</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="carousel slide" id="carouselBestSellers" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/6.png"
                      alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">LENODAN ESSENTIAL</h5>
                      <h5 class="fw-bold text-1000 text-truncate">TSHIRT</h5>
                      <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through"></span><span
                          class="text-danger">R3999.99</span></div>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/8.png"
                      alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">LENODAN ESSENTIAL</h5>
                      <h5 class="fw-bold text-1000 text-truncate">II TSHIRT</h5>

                      <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through"></span><span
                          class="text-danger">R3999.99</span></div>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/11.png"
                      alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">LENODAN ESSENTIAL</h5>
                      <h5 class="fw-bold text-1000 text-truncate">III TSHIRT</h5>

                      <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through"></span><span
                          class="text-danger">R3999.99</span></div>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0 h-100">
                  <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/13.png"
                      alt="..." />
                    <div class="card-img-overlay ps-0"> </div>
                    <div class="card-body ps-0 bg-200">
                      <h5 class="fw-bold text-1000 text-truncate">LENODAN ELOGO</h5>
                      <h5 class="fw-bold text-1000 text-truncate">TSHIRT</h5>

                      <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through"></span><span
                          class="text-danger">R3999.99</span></div>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="subscribe">
  <div class="container">
    <div class="section-header">
      <h2>Newsletter</h2>
      <p>SIGN UP FOR LENODAN UPDATES, 10% gets you off your first order while you are kept updated on the latest news,
        sales, discounts and offers. By entering your email address below, you consent to receive our newsletter with
        access to our latest collections, events, and initiatives. More details on this are provided in our Privacy
        Policy</p>
    </div>

    <form method="post" action="#">
      <div class="form-row justify-content-center">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Enter your Email">
        </div>
        <div class="col-auto">
          <button type="submit">Subscribe</button>
        </div>
      </div>
    </form>

  </div>
</section>
