<div class="container-fluid bg-secondary my-5">
  <div class="row justify-content-md-center py-5 px-xl-5" style="background-image:url(assets/img/22.png)">
      <div class="col-md-6 col-12 py-5">
          <div class="text-center mb-2 pb-2">
              <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Virtual Diary</span></h2>
              <p style="color: white;">Coming Soon</p>
          </div>
          <form action="">
              <div class="input-group">
                  <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                  <div class="input-group-append">
                      <button class="btn btn-primary px-4">Subscribe</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style= "background-color:#999999">
  <div class="container py-5">
      <div class=" text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
          <h1 class="mb-0">LENODAN GREEN PROJECT</h1>
          <p style="color: white;">We are making changes throughout our company to actively address the challenges facing our industry and our planet.</p>
      </div>
      <div class="row g-5">
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                      <div class="d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color:#02A410">
                          <i class="fa fa-cubes text-white"></i>
                      </div>
                      <h4>Material</h4>
                      <p class="mb-0">We source our fabrics and textile from local mills and suppliers. We work with local mills to produce our fabrics, which help to reduce the environmental impact associated with transportation. Additionally, we also source surplus fabrics from local suppliers, which helps to reduce textile waste.
                      </p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                      <div class="d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color:#02A410">
                          <i class="fa fa-award text-white"></i>
                      </div>
                      <h4>Suppliers & Manufactures</h4>
                      <p class="mb-0">We also work closely with a handful of small factories and suppliers that believe in transparency and are committed to fair working conditions. We believe that garment workers are the heartbeat of our production line, from concept to execution, and we are committed to ensuring that they are treated with dignity and respect. We also aim to associate ourselves with factories that are keen on working sustainably and that will help us to focus more on slow fashion to minimize waste. We believe that by taking a slow fashion approach, we can create fashion that has less social and environmental impact. We also take into consideration the impact of our decisions at the top management level to their effect on the worker at factory level.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px; padding-bottom: 1em; height: 5em;padding-top: 4em;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="assets/img/gp.png" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                      <div class="d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color:#02A410">
                          <i class="fa fa-users-cog text-white"></i>
                      </div>
                      <h4>Environmental & Social Issues</h4>
                      <p class="mb-0">LENODAN is dedicated to taking environmental and social issues into consideration and has set it as our main responsibility to create high-end quality items that are true to our contemporary aesthetic, and are produced responsibly at all levels of the production cycle. We understand that the fashion industry has a significant impact on the environment and we are committed to doing our part to minimize that impact.</p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                      <div class="d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px; background-color:#02A410">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <h4>Packaging</h4>
                      <p class="mb-0">We are committed to reducing our use of plastic. We understand that plastic waste is a major contributor to pollution and we are committed to minimizing our impact on the environment. We have eliminated the use of single-use plastics such as plastic bags and plastic wrapping in our packaging. Instead, we use paper, jute, and cotton to make our packaging materials, which are renewable, biodegradable, and compostable. This means that they break down quickly and don’t contribute to pollution. We also make sure to use minimal packaging, so as to reduce waste and decrease our environmental impact.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section style="background-color: #999999;">
  <div class="container">
    <div class="row h-100 g-0">
      <div class="col-md-6">
        <div class="card card-span h-80 text-white"><img class="card-img h-100" src="assets/img/100.png" alt="..." />
          <div class="card-img-overlay bg-dark-gradient">
            <div class="d-flex align-items-end justify-content-center h-100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">       
        <div>
          <h4 class="text-800" style="COLOR: black">Our commitment</h4>
          <p>We are aimed to become a socially responsible brand that is environmentally conscious and contributes positively towards building an industry with fair labor practices, empowered workers, and responsible packaging. We understand that sustainability is a journey and we are committed to continuously improving our practices and finding new ways to minimize our impact on the environment.</p>
            <p>We believe that by making sustainable choices in every aspect of our business, we can create a more sustainable and fair fashion industry. From the materials we use to the factories we work with, we are committed to making conscious choices that align with our values and mission. We believe that by leading by example, we can inspire others in the fashion industry to do the same and help to create a more sustainable future for all.</p>
            <p>In conclusion, LENODANTM is committed to creating high-end quality items that are true to our contemporary aesthetic, and are produced responsibly at all levels of the production cycle. We take environmental and social issues into consideration and strive to minimize our impact on the environment. We work with local mills and suppliers, suppliers that believe in transparency and are committed to fair working conditions. We are committed to reducing our use of plastic and continuously improving our sustainability practices. We believe that by making sustainable choices, we can create a more sustainable and fair fashion industry for all.</p>   
        </div>
      </div>
    
    </div>

  </div><!-- end of .container-->
</section>
<router-outlet></router-outlet>